body{

}

.imageGoesHere{
  width: 1200px;
  height: 1200px;
  background-position: center center;
  background-size: cover;
  /* background-image: url('./images/1.jpeg'); */
  object-fit: cover;
  z-index: -1;
}

div{
  display: block;
}

#topText,#bottomText{
  padding: 15px 20px;
  font-size: 72px;
  height: inherit;
  z-index: 1;
}

.style1{
  background-color: red;
  color: white;
  text-shadow: 2px 2px 5px red;
}

h1#bottomText{
  position: absolute;
  top: 850px;
}

h1#topText{
  position: absolute;
  top: -15px;
}
